<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- cl_borrow_repay_log表:还款记录表模块 -->
<mapper namespace="com.rongdu.ow.core.module.mapper.ClBorrowRepayLogMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.rongdu.ow.core.module.domain.ClBorrowRepayLog">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="repay_id" property="repayId" jdbcType="BIGINT" />
        <result column="borrow_id" property="borrowId" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="penalty_day" property="penaltyDay" jdbcType="INTEGER" />
        <result column="penalty_amout" property="penaltyAmout" jdbcType="DECIMAL" />
        <result column="repay_way" property="repayWay" jdbcType="VARCHAR" />
        <result column="repay_account" property="repayAccount" jdbcType="VARCHAR" />
        <result column="serial_number" property="serialNumber" jdbcType="VARCHAR" />
        <result column="repay_time" property="repayTime" jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,repay_id,borrow_id,user_id,amount,penalty_day,penalty_amout,repay_way,repay_account,serial_number,repay_time,create_time 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id != null and id != '' ">
                id  = #{id,jdbcType=BIGINT}
            </if>
            <if test="repayId != null and repayId != '' ">
                and repay_id = #{repayId,jdbcType=BIGINT}
            </if>
            <if test="borrowId != null and borrowId != '' ">
                and borrow_id = #{borrowId,jdbcType=BIGINT}
            </if>
            <if test="userId != null and userId != '' ">
                and user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="amount != null and amount != '' ">
                and amount = #{amount,jdbcType=DECIMAL}
            </if>
            <if test="penaltyDay != null and penaltyDay != '' ">
                and penalty_day = #{penaltyDay,jdbcType=INTEGER}
            </if>
            <if test="penaltyAmout != null and penaltyAmout != '' ">
                and penalty_amout = #{penaltyAmout,jdbcType=DECIMAL}
            </if>
            <if test="repayWay != null and repayWay != '' ">
                and repay_way = #{repayWay,jdbcType=VARCHAR}
            </if>
            <if test="repayAccount != null and repayAccount != '' ">
                and repay_account = #{repayAccount,jdbcType=VARCHAR}
            </if>
            <if test="serialNumber != null and serialNumber != '' ">
                and serial_number = #{serialNumber,jdbcType=VARCHAR}
            </if>
            <if test="repayTime != null">
                and repay_time = #{repayTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="com.rongdu.ow.core.module.domain.ClBorrowRepayLog">
        insert into cl_borrow_repay_log(repay_id,borrow_id,user_id,amount,penalty_day,penalty_amout,repay_way,repay_account,serial_number,repay_time,create_time)values(#{repayId,jdbcType=BIGINT},#{borrowId,jdbcType=BIGINT},#{userId,jdbcType=BIGINT},#{amount,jdbcType=DECIMAL},#{penaltyDay,jdbcType=INTEGER},#{penaltyAmout,jdbcType=DECIMAL},#{repayWay,jdbcType=VARCHAR},#{repayAccount,jdbcType=VARCHAR},#{serialNumber,jdbcType=VARCHAR},#{repayTime,jdbcType=TIMESTAMP},#{createTime,jdbcType=TIMESTAMP})
    </insert>

    
    <update id="update" parameterType="com.rongdu.ow.core.module.domain.ClBorrowRepayLog">
        update cl_borrow_repay_log set 
            repay_id = #{repayId,jdbcType=BIGINT},
            borrow_id = #{borrowId,jdbcType=BIGINT},
            user_id = #{userId,jdbcType=BIGINT},
            amount = #{amount,jdbcType=DECIMAL},
            penalty_day = #{penaltyDay,jdbcType=INTEGER},
            penalty_amout = #{penaltyAmout,jdbcType=DECIMAL},
            repay_way = #{repayWay,jdbcType=VARCHAR},
            repay_account = #{repayAccount,jdbcType=VARCHAR},
            serial_number = #{serialNumber,jdbcType=VARCHAR},
            repay_time = #{repayTime,jdbcType=TIMESTAMP},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update cl_borrow_repay_log
          <set>
            <if test="repayId != null and repayId != '' ">        
                repay_id = #{repayId,jdbcType=BIGINT},                
            </if>
            <if test="borrowId != null and borrowId != '' ">        
                borrow_id = #{borrowId,jdbcType=BIGINT},                
            </if>
            <if test="userId != null and userId != '' ">        
                user_id = #{userId,jdbcType=BIGINT},                
            </if>
            <if test="amount != null and amount != '' ">        
                amount = #{amount,jdbcType=DECIMAL},                
            </if>
            <if test="penaltyDay != null and penaltyDay != '' ">        
                penalty_day = #{penaltyDay,jdbcType=INTEGER},                
            </if>
            <if test="penaltyAmout != null and penaltyAmout != '' ">        
                penalty_amout = #{penaltyAmout,jdbcType=DECIMAL},                
            </if>
            <if test="repayWay != null and repayWay != '' ">        
                repay_way = #{repayWay,jdbcType=VARCHAR},                
            </if>
            <if test="repayAccount != null and repayAccount != '' ">        
                repay_account = #{repayAccount,jdbcType=VARCHAR},                
            </if>
            <if test="serialNumber != null and serialNumber != '' ">        
                serial_number = #{serialNumber,jdbcType=VARCHAR},                
            </if>
            <if test="repayTime != null">
                repay_time = #{repayTime,jdbcType=TIMESTAMP},                
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP}                
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from cl_borrow_repay_log
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_borrow_repay_log
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_borrow_repay_log
        <include refid="searchBy"/>
    </select>
    
</mapper>
