<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rongdu.ow.core.module.mapper.SysRoleMenuMapper">
	<resultMap id="roleMenuResult" type="com.rongdu.ow.core.module.domain.SysRoleMenu">
		<result column="id" property="id" />
		<result column="role_id" property="roleId" />
		<result column="menu_id" property="menuId" />
	</resultMap>
	
	<insert id="save" parameterType="com.rongdu.ow.core.module.domain.SysRoleMenu">
		<selectKey resultType="long" keyProperty="id">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		insert into cl_sys_role_menu(
			role_id,
			menu_id				
		)
		values (
			#{roleId},
			#{menuId}				
		)
	</insert>
	
	<delete id="deleteByRoleId" parameterType="long">
 	  delete from cl_sys_role_menu
 	  where
 	  role_id = #{roleId}
 	</delete>
</mapper>